<div class="container-fluid">
  <div class="row flex-nowrap">
    <nav class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light bg-gradient">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
      >
        <a
          [routerLink]="['home']"
          class="d-flex align-items-center justify-content-center pb-3 mt-md-3 text-decoration-none"
        >
          <img
            id="logo"
            src="assets/logos/skooltrak-horizontal-blue.svg"
            class="fs-5 d-none d-sm-inline img-fluid"
          />
        </a>
        <a
          [routerLink]="['home']"
          class="d-flex align-items-center justify-content-center pb-3 my-md-0 text-decoration-none"
        >
          <img
            id="logo"
            [style.max-height]="'40px'"
            src="assets/logos/skooltrak-logo.svg"
            class="fs-5 d-inline d-sm-none img-fluid"
          />
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a
              class="nav-link align-middle px-0"
              [routerLink]="['home']"
              routerLinkActive="selected"
            >
              <i class="fs-4 me-2 bi-house text-primary"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a
              href="#submenu1"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 text-primary bi-clipboard-check"></i>
              <span class="ms-1 d-none d-sm-inline ms-2">Academic</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu1"
              data-bs-parent="#menu"
            >
              <li>
                <a
                  [routerLink]="['subjects']"
                  routerLinkActive="selected"
                  class="nav-link px-0"
                >
                  <i class="fs-5 me-2 text-primary bi-journal-bookmark"></i
                  ><span class="d-none d-sm-inline">Subjects</span>
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['schools']"
                  routerLinkActive="selected"
                  class="nav-link px-0"
                >
                  <i class="fs-5 me-2 text-primary bi-building"></i
                  ><span class="d-none d-sm-inline">Schools</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 me-2 bi-table text-primary"></i>
              <span class="ms-1 d-none d-sm-inline">Orders</span></a
            >
          </li>
          <li>
            <a
              data-bs-toggle="collapse"
              href="#submenu2"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 me-2 bi-bootstrap text-primary"></i>
              <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a
            >
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu2"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Inicio</span> 1</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 2</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a
              href="#submenu3"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <i class="fs-4 me-2 bi-grid text-primary"></i>
              <span class="ms-1 d-none d-sm-inline">Products</span>
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu3"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 1</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 2</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 3</a
                >
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Product</span> 4</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 me-2 bi-peopl text-primarye"></i>
              <span class="ms-1 d-none d-sm-inline">Customers</span>
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            href="#"
            class="d-flex align-items-center text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline ms-2 me-1">{{
              userName$ | async
            }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu text-small shadow">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="me-2 bi-sliders text-primary"></i>Settings</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['profile']"
                ><i class="me-2 bi-person-circle text-success"></i>Profile</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" (click)="signOut()"
                ><i class="me-2 bi-box-arrow-left text-danger"></i>Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="col py-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
